.feedback {
  margin-top: 130px;

  &__container {
    overflow: unset !important;
  }

  &__wrapper {
    margin-top: 120px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/dist/quotes.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 104px;
      height: 86px;
      bottom: 180px;
      left: -200px;
    }
  }

  & .swiper-wrapper {
    padding-bottom: 110px;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    &_info {
      max-width: 580px;
      display: flex;
      flex-direction: column;
      padding-top: 110px;
      margin-right: 50px;

      &--position {
        font-size: $font-main-alt;
        font-weight: 700;
        letter-spacing: -0.07em;
        margin-bottom: 10px;
      }

      &--name {
        font-weight: 700;
        font-size: $font-header;
        letter-spacing: -0.02em;
        margin-bottom: 120px;
      }

      &--desc {
        font-size: $font-main;
        line-height: 1.25;
      }
    }

    &_img {
      box-shadow: $shadow;
      padding: 32px;
      border-radius: 25px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../images/dist/color-grid.svg");
        background-repeat: no-repeat;
        top: -60px;
        left: -60px;
        background-size: contain;
        width: 135px;
        height: 120px;
      }

      & img {
        width: 100%;
        height: 600px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .feedback {
    margin-top: 80px;

    &__wrapper {
        margin-top: 0;
    }

    & .swiper-wrapper {
        padding-top: 20px;
    }

    &__item {
      &_info {
        max-width: 450px;
      }

      &_img {
        &::before {
            width: 100px;
            height: 85px;
            top: -20px;
            left: -20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .feedback {
    &__item {
      align-items: flex-end;

      &_info {
        &--name {
          margin-bottom: 30px;
        }
      }

      &_img {
        min-width: 400px;

        & img {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .feedback {
    &__item {
      &_info {
        padding-top: 20px;

        &--name {
          font-size: $font-additional;
        }

        &--desc {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .feedback {
    &__item {
      &_img {
        min-width: 320px;

        & img {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
    .feedback {
        &__item {
            flex-direction: column;
            align-items: center;

            &_info {
                padding-top: 0;
                max-width: none;
                width: 100%;
                margin-right: 0;
                margin-bottom: 50px;

                &--desc {
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .feedback {
        &__item {
            &_img {
                padding: 20px;

                &::before {
                    left: -10px;
                    top: -10px;
                }
            }
        }
    }
}