.header {
  background-color: $black;
  padding: 15px 0;
  box-shadow: $shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: transform 0.2s ease, z-index 0.2s ease, visibility 0.2s ease;

  &--active {
    z-index: -1;
    visibility: collapse;
    transform: translateY(-100%);
  }

  &__logo {
    display: flex;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__meta {
    display: flex;
    align-items: center;

    &_tel {
      padding-right: 40px;
      border-right: 2px solid #ffffff;
      margin-right: 40px;
      display: flex;
      flex-direction: column;

      & a {
        color: $white;
        transition: color 0.2s ease;
        font-size: 30px;

        &:hover {
          color: $orange;
        }
      }
    }

    &_address {
      color: $white;
      font-size: 30px;
    }
  }
}

.header__menu {
  &_button {
    display: flex;
  }
}

main {
  padding-top: 124px;
}

@media screen and (max-width: 720px) {
  main {
    padding-top: 90px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    &__meta {
      &_address {
        font-size: 20px;
      }

      &_tel {
        & a {
          font-size: 18px;
        }
        padding-right: 20px;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    &__meta {
      margin-left: auto;
      margin-right: 20px;

      &_address {
        display: none;
      }

      &_tel {
        padding-right: 0;
        margin-right: 0;
        border: none;
      }
    }

    &__logo {
      & img {
        width: 60px;
        height: 60px;
      }
    }

    &__menu_button {
      & img {
        width: 30px;
        height: auto;
      }
    }
  }
}
