.header__menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  transform: translateX(100%);
  transition: transform 0.5s ease;

  &--active {
    transform: translate(0);
  }

  &_inner {
    padding: 40px;
    background-color: $white;
    height: 100vh;
    width: 30vw;
    position: relative;
    max-height: 100vh;
    overflow-y: auto;
  }

  &_close {
    position: absolute;
    right: 40px;
    top: 40px;
  }

  &_nav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    &--link {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      font-size: 20px;
      color: $black;
      font-weight: 700;
      transition: color 0.2s ease;

      &:hover,
      &:focus {
        color: $orange;
      }
    }
  }

  &_socials {
    margin-top: 35px;

    & a 
    {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
    .header__menu_inner {
        width: 320px;
    }
}
