.hero-form {
  margin-top: 60px;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 48px;
    letter-spacing: -0.02em;
    margin-bottom: 15px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    margin-bottom: 45px;
    align-items: flex-end;
  }

  &__label {
    display: flex;
    flex-direction: column;

    & span {
      font-size: 24px;
      margin-bottom: 10px;
      margin-left: 15px;
    }
  }

  &__input {
    border: 3px solid $black;
    border-radius: 15px;
    padding: 6px 11px;
    outline: none;
    width: 100%;
    font-size: 24px;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: $orange;
    }
  }

  &__button {
    background-color: $black;
    color: $white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    text-align: center;
    padding: 9px;
    font-size: 24px;
    font-family: inherit;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  &__text {
    font-size: 24px;

    & a {
      color: $blue;
      transition: color 0.2s ease;

      &:hover,
      &:focus {
        color: $orange;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .hero-form {
    &__title {
      font-size: 42px;
    }

    &__form {
      grid-gap: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero-form {
    &__form {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 950px) {
  .hero-form {
    &__form {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 700px) {
  .hero-form {
    &__form {
      grid-template-columns: 1fr 1fr;
    }

    &__button {
      grid-column: 1 / 3;
    }

    &__label {
      & span {
        font-size: 20px;
      }
    }

    &__text {
      font-size: 20px;
    }

    &__input {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .hero-form {
    &__title {
      font-size: 32px;
    }

    &__form {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    &__button {
      grid-column: 1;
    }

    &__label {
      & span {
        font-size: 18px;
      }
    }

    &__text {
      font-size: 18px;
    }
  }
}
