.map {
  margin-top: 130px;

  &__wrapper {
    margin-top: 70px;
    padding: 32px;
    box-shadow: $shadow;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  &__content {
    margin-right: 60px;
    width: 415px;
    min-width: 415px;
  }

  &__container {
    width: 100%;
    height: 545px;
  }

  &__tip {
    font-size: $font-main;
  }

  &__header {
    position: relative;

    &::before {
      background-image: url(../images/dist/select-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 8px;
      content: "";
      height: 16px;
      pointer-events: none;
      position: absolute;
      right: 0;
      width: 38px;
    }

    &_select {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 2px solid $orange;
      font-size: $font-main-alt;
      font-weight: 700;
      cursor: pointer;
      outline: none;
    }
  }

  &__body {
    margin-top: 40px;
    max-height: 450px;
    overflow-y: auto;
    padding: 5px;
    display: none;

    &--active {
      display: flex;
      animation: mapAnim 0.8s forwards;
    }
  }

  &__item {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 20px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    display: flex;
    flex-direction: column;

    &_title {
      font-size: $font-main;
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: 700;
      color: $black;
      transition: color 0.2s ease;

      &:hover,
      &:focus {
        color: $orange;
      }
    }

    &_logo {
      & img {
        max-width: 130px;
        width: 100%;
      }
    }

    &_text {
      font-size: 20px;
      display: block;
      margin-bottom: 10px;
    }

    &_links {
      display: flex;
      flex-direction: column;
    }

    &_link {
      font-size: 18px;
      color: $blue;
      transition: color 0.2s ease;

      &:hover,
      &:focus {
        color: $orange;
      }
    }
  }
}

@keyframes mapAnim {
  0% {
    opacity: 0;
    visibility: collapsed;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }
}

@media screen and (max-width: 1200px) {
  .map {
    margin-top: 80px;

    &__wrapper {
      margin-top: 20px;
      padding: 40px;
    }

    &__content {
      width: 350px;
      min-width: 350px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .map {
    &__wrapper {
      flex-direction: column;
      margin-bottom: 40px;
    }

    &__content {
      margin-bottom: 50px;
      margin-right: 0;
      max-width: none;
      min-width: auto;
      width: 100%;
    }

    &__body {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      overflow: auto;
      max-height: none;

      &--active {
        display: grid;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &__tip {
      font-size: $font-main;
    }
  }
}

@media screen and (max-width: 800px) {
  .map {
    &__body {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 800px) {
  .map {
    &__wrapper {
      padding: 20px;
    }

    &__body {
      max-height: 500px;
      overflow-y: auto;
    }

    &__container {
      height: 400px;
    }
  }
}

@media screen and (max-width: 550px) {
  .map {
    &__body {
      max-height: 350px;
      grid-template-columns: 1fr;
    }

    &__container {
      height: 300px;
    }

    &__wrapper {
      margin-top: 50px;
    }

    &__item {
      &_title {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      &_text {
        font-size: 18px;
        margin-bottom: 5px;
      }

      &_link {
        font-size: 18px;
      }
    }
  }
}
