.media {
  margin-top: 130px;

  &__wrapper {
    margin-top: 70px;
    position: relative;
  }

  & .swiper-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
  }

  & .swiper-wrapper {
    padding-bottom: 110px;
  }

  & .slider-button-next, & .slider-button-prev {
    top: 30%;
  }

  &__item {
    &_publish {
      padding: 32px;
      box-shadow: 0 0.1250rem 0.3125rem rgba(0,0,0,.2);
      border-radius: 25px;
      display: block;

      & img {
        height: 515px;
        width: 100%;
        object-fit: cover;
      }

      margin-bottom: 45px;
    }

    &_partner {
      height: auto;
      padding: 20px 32px;
      box-shadow: 0 0.1250rem 0.3125rem rgba(0,0,0,.2);
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .media {
    &__item {
      &_publish {
        & img {
          object-fit: initial;
          height: 430px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .media {
    &__item {
      &_publish {
        margin-bottom: 50px;
        padding: 25px;

        & img {
          height: 410px;
        }
      }

      &_partner {
        padding: 25px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .media {
    margin-top: 80px;

    &__wrapper {
      margin-top: 40px;
    }

    &_publish {
      & img {
        height: 360px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .media {
    &__item {
      &_publish {
        & img {
          height: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .media {
    &__item {
      &_publish {
        & img {
          height: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .media {
    &__item {
      &_publish {
        & img {
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .media {
    &__item {
      &_publish {
        & img {
          height: 350px;
        }
      }
    }

    & .swiper-wrapper {
      padding-bottom: 90px;
    }
  }
}

@media screen and (max-width: 650px) {
  .media {
    &__item {
      &_publish {
        margin-bottom: 20px;

        & img {
          height: auto;
        }
      }
    }
  }
}
