.proc {
  margin-top: 130px;

  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    position: relative;
    counter-reset: proc;

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      background: linear-gradient($orange, $green, $blue, $pink);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 250px;
    }

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    counter-increment: proc;
    position: relative;

    &::before {
      position: absolute;
      content: counter(proc);
      left: 50%;
      transform: translate(-53%, -50%);
      top: 50%;
      padding: 25px;
      padding-top: 35px;
      padding-bottom: 70px;
      background-color: $white;
      font-size: 123px;
      line-height: 0.5;
    }

    &:first-child {
      &::before {
        color: $orange;
      }

      & .proc__desc {
        border-color: $orange;
      }
    }

    &:nth-child(2) {
      &::before {
        color: $green;
      }

      & .proc__desc {
        border-color: $green;
      }
    }

    &:nth-child(3) {
      &::before {
        color: $blue;
      }

      & .proc__desc {
        border-color: $blue;
      }
    }

    &:last-child {
      &::before {
        color: $pink;
      }

      & .proc__desc {
        border-color: $pink;
      }
    }
  }

  &__meta {
    border-radius: 46px;
    box-shadow: $shadow;
    max-width: 640px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 200px;
    position: relative;
    min-height: 500px;
  }

  &__desc {
    max-width: 640px;
    border-right: 4px solid $black;
    border-bottom: 4px solid $black;
    padding-right: 25px;
    padding-bottom: 80px;
    width: 100%;

    &_title {
      display: block;
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 23px;
    }

    &_text {
      font-size: 24px;
      line-height: 1.25;
    }
  }

  &__img {
    position: absolute;
    left: -20px;
    bottom: -20px;
  }

  &__info {
    &_title {
      font-weight: 700;
      font-size: 32px;
      letter-spacing: -0.07em;
      margin-bottom: 25px;
    }

    &_about {
      font-size: 24px;
      margin-bottom: 35px;
      display: block;
    }
  }

  &__list {
    &_title {
      display: block;
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 23px;
      letter-spacing: -0.07em;
    }

    list-style: none;

    & li {
      padding-left: 25px;
      font-size: 24px;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &::before {
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        top: 10px;
        left: 0;
        border-radius: 100%;
        background-color: $black;
        opacity: 0.3;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .proc {
    &__img {
      left: 20px;
      bottom: 0;

      & img {
        max-width: 60%;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 100px;
      }
    }

    &__meta {
      max-width: 550px;
      padding-left: 170px;
      padding-right: 30px;
      padding-top: 40px;
      padding-bottom: 40px;
      min-height: 350px;
    }

    &__desc {
      max-width: 550px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .proc {
    &__item {
      flex-direction: column;
      align-items: center;

      &:first-child {
        &::after {
          background-color: $orange;
        }

        & .proc__desc_title {
          color: $orange;
        }
      }

      &:nth-child(2) {
        &::after {
          background-color: $green;
        }

        & .proc__desc_title {
          color: $green;
        }
      }

      &:nth-child(3) {
        &::after {
          background-color: $blue;
        }

        & .proc__desc_title {
          color: $blue;
        }
      }

      &:last-child {
        &::after {
          background-color: $pink;
        }

        & .proc__desc_title {
          color: $pink;
        }
      }

      &:not(:last-child) {
        padding-bottom: 80px;
        margin-bottom: 170px;
      }

      &::before {
        top: -100px;
        font-weight: 400;
        font-size: 100px;
        z-index: 2;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: $black;
        top: -110px;
        left: 0;
        z-index: 1;
      }
    }

    &__img {
      left: -20px;
      bottom: -20px;

      & img {
        max-width: 80%;
        z-index: 3;
        position: relative;
      }
    }

    &__meta {
      margin-bottom: 80px;
      max-width: 650px;
      min-height: auto;
    }

    &__desc {
      max-width: 650px;
      border: 0;
      padding: 0;
    }

    &__items {
      &::before {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .proc {
    margin-top: 80px;
  }
}

@media screen and (max-width: 750px) {
  .proc {
    &__img {
      left: -5px;
      bottom: -10px;

      & img {
        max-width: 90px;
      }
    }

    &__meta {
      padding-left: 120px;
      padding-top: 30px;
      padding-right: 20px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      max-width: 80%;
    }

    &__items {
      margin-top: 130px;
    }

    &__item {
      &::before {
        font-size: 30px;
        top: -35px;
      }

      &::after {
        height: 2px;
        top: -50px;
      }

      &:not(:last-child) {
        margin-bottom: 70px;
        padding-bottom: 60px;
      }
    }

    &__info {
      &_title {
        margin-bottom: 0;
        font-size: 24px;
      }
      &_about {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }

    &__desc {
      &_title {
        margin-bottom: 15px;
      }

      &_text {
        font-size: 20px;
      }
    }

    &__list {
        & li {
            font-size: 18px;
        }

      &_title {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
    .proc {
        &__meta {
            max-width: none;
            padding-left: 90px;
        }

        &__img {
            & img {
                max-width: 70px;
            }
        }

        &__info {
            &_title {
                font-size: 20px;
            }

            &_about {
                font-size: 16px;
            }
        }

        &__desc {
            &_text {
                font-size: 18px;
            }
        }

        &__list {
            &_title {
                font-size: 16px;
            }

            font-size: 16px;

            li {
                &::before {
                    top: 6px;
                }

                font-size: 16px;

                &:not(:last-child) {
                    margin-bottom: 3px;
                }
            }
        }
    }
}