.protocol {
  margin-top: 300px;

  &__wrapper {
    margin-top: 130px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    font-size: 123px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: $white;
    transition: background-color 0.2s ease;

    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 12px;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    &:hover,
    &:focus {
      box-shadow: $shadow;
    }

    & span {
      margin-top: -25px;
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-right: 80px;
    }

    &:nth-child(3),
    &:last-child {
      & span {
        margin-top: -40px;
      }
    }

    &--active {
      background-color: $black;
    }

    &:first-child {
      color: $orange;

      &::before {
        background-color: $orange;
      }
    }

    &:nth-child(2) {
      color: $green;

      &::before {
        background-color: $green;
      }
    }

    &:nth-child(3) {
      color: $blue;

      &::before {
        background-color: $blue;
      }
    }

    &:last-child {
      color: $pink;

      &::before {
        background-color: $pink;
        width: 200px;
      }
    }
  }

  &__body {
    width: 600px;
    height: 600px;
    box-shadow: $shadow;
    border-radius: 100%;
    position: relative;
    z-index: 2;
    background-color: $white;
    display: flex;
    justify-content: center;
    padding: 80px;
  }

  &__item {
    flex-direction: column;
    align-content: center;
    display: none;

    &--active {
      display: flex;
      animation: protocolAnim 1s forwards;
    }

    &_title {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.07em;
    }

    &_info {
      margin-top: 30px;
      display: flex;
      align-items: center;

      & img {
        margin-right: 40px;
      }

      & p {
        font-size: 24px;
        line-height: 1.25;
      }
    }
  }
}

@keyframes protocolAnim {
  0% {
    opacity: 0;
    visibility: collapse;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1600px) {
  .protocol {
    &__wrapper {
      flex-direction: column-reverse;
    }

    &__body {
      margin-bottom: 40px;
    }

    &__button {
      &:last-child {
        &::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .protocol {
    margin-top: 80px;

    &__wrapper {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .protocol {
    &__button {
      width: 100px;
      height: 100px;
      font-size: 80px;

      & span {
        margin-top: -15px;
      }

      &:last-child,
      &:nth-child(3) {
        & span {
          margin-top: -25px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .protocol {
    &__button {
      width: 64px;
      height: 64px;
      font-size: 48px;
      
      &:not(:last-child) {
        margin-right: 50px;
      }

      & span {
        margin-top: -10px;
      }

      &:last-child,
      &:nth-child(3) {
        & span {
          margin-top: -20px;
        }
      }
    }

    &__body {
      width: 400px;
      height: 400px;
    }

    &__item {
      &_title {
        font-size: 20px;
      }

      &_info {
        & p {
          font-size: 14px;
        }

        & img {
          margin-right: 20px;
          height: auto;
          max-width: 60px;
          margin-top: -40px;
          margin-left: -30px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .protocol {
    &__button {
      
      &:not(:last-child) {
        margin-right: 35px;
      }
    }

    &__body {
      width: 280px;
      padding: 60px;
      padding-right: 40px;
      height: 280px;
      align-items: center;
    }

    &__item {
      &_title {
        font-size: 18px;
      }

      &_info {
        & p {
          font-size: 12px;
        }

        & img {
          margin-right: 20px;
          height: auto;
          max-width: 30px;
          margin-top: -40px;
          margin-left: -20px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .protocol {
    &__button {
      &:not(:last-child) {
        margin-right: 25px;
      }

      width: 55px;
      height: 55px;
      
      & span {

      }
    }
  }
}