.recom {
  margin-top: 130px;

  & .subtitle {
    max-width: 350px;
  }

  &__body {
    box-shadow: $shadow;
    border-radius: 83px;
    margin-top: 70px;
    display: flex;
    overflow: hidden;

    &_img {
      flex-basis: 55%;

      & img {
        max-width: 100%;
      }
    }
  }

  &__items {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    padding-top: 20px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 95px;
    }

    display: flex;
    align-items: center;

    &_list {
      font-size: 23px;
      font-weight: 700;
      letter-spacing: -0.07em;
      padding-left: 45px;
      list-style: none;
    }
  }
}

@media screen and (max-width: 1500px) {
  .recom {
    &__body {
      padding: 30px;
    }

    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-basis: 100%;
      grid-gap: 40px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      &_list {
        padding-left: 30px;
        font-size: 20px;
      }

      & img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .recom {
    margin-top: 80px;

    &__body {
      flex-direction: column;
      margin-top: 40px;

      &_img {
        display: flex;
        justify-content: center;

        & img {
          max-width: 30%;
        }
      }
    }

    &__items {
      grid-gap: 20px;
      margin-left: 0;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .recom {
    &__items {
      grid-template-columns: 1fr;
    }

    &__body {
      padding: 15px;
      border-radius: 25px;

      &_img {
        & img {
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .recom {
    &__item {
      &_list {
        font-size: 18px;
        padding-left: 20px;
      }
    }
  }
}
