.results {
  margin-top: 130px;

  &__wrapper {
    margin-top: 50px;
    margin-left: -30px;
  }

  & .swiper-wrapper {
    padding-top: 20px;
    padding-bottom: 110px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
  }

  &__images {
    &_wrapper {
      box-shadow: $shadow;
      display: flex;
      border-radius: 25px;
      padding: 32px;
      max-width: 1050px;
      position: relative;
    }

    display: flex;
    width: 100%;

    & img {
      max-height: 500px;
      width: 100%;
      object-fit: cover;
      display: flex;
      flex: 1 auto;
    }

    &_img {
      position: relative;
      z-index: 1;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &_from {
      position: absolute;
      left: -5px;
      top: -5px;
      width: 65px;
      height: 65px;
      color: $black;
      border-radius: 100%;
      font-size: $font-main;
      background-color: $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0;
      z-index: 2;
    }

    &_to {
      position: absolute;
      right: -5px;
      bottom: -5px;
      width: 65px;
      height: 65px;
      font-size: $font-main;
      color: $black;
      border-radius: 100%;
      background-color: $orange;
      display: flex;
      justify-content: center;
      line-height: 0;
      align-items: center;
      z-index: 2;
    }

    &_label {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      font-size: 16px;
      bottom: -24px;
      width: 100%;
      text-align: center;
      line-height: 1;
      white-space: nowrap;
    }
  }

  &__info {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

    &_title {
      margin-bottom: 70px;
      font-weight: 700;
      font-size: $font-header;
    }

    &_desc {
      font-size: $font-main;
      line-height: 1.25;
      display: block;
      max-width: 400px;
    }
  }

  &__navigation {
    display: flex;
    margin: 0 auto;
    margin-top: 70px;

    & button {
      width: 58px;
      height: 58px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: box-shadow 0.2s ease, background-color 0.2s ease;

      &:first-child {
        margin-right: 32px;
      }

      &:last-child {
        & img {
          transform: rotate(-180deg);
        }
      }

      & img {
        pointer-events: none;
      }

      &:hover,
      &:focus {
        background-color: $black;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
        & img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(1%)
            saturate(806%) hue-rotate(275deg) brightness(120%) contrast(100%);
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .results {
    &__images {
      &_wrapper {
        max-width: 800px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .results {
    &__images {
      &_wrapper {
        max-width: 600px;
      }
    }

    &__info {
      &_title {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .results {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1200px) {
  .results {
    &__item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }

    &__wrapper {
      margin-left: 0;
      margin-top: 20px;
    }

    &__images {
      &_img {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }

      &_wrapper {
        max-width: none;
        padding: 20px;
        box-shadow: 0 .125rem .3125rem rgba(0,0,0,.2);
      }
      &_from,
      &_to {
        width: 34px;
        height: 34px;
        font-size: 12px;
      }
      &_from {
        left: 0;
      }
      &_to {
        right: 0;
      }
      &_label {
        font-size: 16px;
        bottom: -18px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    & .swiper-wrapper {
      padding-bottom: 80px;
    }

    &__navigation {
      margin-top: 30px;
    }

    &__info {
      padding: 0;
      margin: 0;
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 550px) {
  .results {
    &__info {
      align-items: center;
      text-align: center;

      &_title {
        font-size: $font-additional;
        margin-bottom: 20px;
      }

      &_desc {
        font-size: 18px;
      }
    }

    &__images {
      &_label {
        font-size: 10px;
        bottom: -15px;
      }
    }
  }
}