.showcase {
  margin-top: 130px;

  &__inner {
    display: flex;
  }

  & .hero__slogan {
    margin-bottom: 30px;
  }

  &__title {
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 45px;
    font-size: 48px;
  }

  &__info {
    flex-basis: 50%;
    margin-right: 150px;
  }

  &__img {
    flex-basis: 50%;

    & img {
      max-width: 100%;
      box-shadow: $shadow;
      border-radius: 30px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    display: flex;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
    }

    &_info {
      padding-left: 80px;
      display: flex;
      flex-direction: column;
    }

    &_title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 24px;
    }

    &_desc {
      font-size: 24px;
      line-height: 1.2;
    }
  }
}

@media screen and (max-width: 1600px) {
  .showcase {
    &__info {
      margin-right: 30px;
    }

    &__item {
      &_info {
        max-width: 600px;
      }

      &_title {
        font-size: 24px;
        margin-bottom: 12px;
      }

      &_desc {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .showcase {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .showcase {
    &__inner {
      flex-direction: column;
    }

    &__info {
      margin-bottom: 50px;
      margin-right: 0;
    }

    &__img {
      flex-basis: 100%;
      display: flex;
      justify-content: center;

      & img {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .showcase {
    &__img {
      & img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .showcase {
    &__title {
      font-size: 32px;
    }

    &__item {
      &_desc {
        font-size: 18px;
      }
    }
  }
}
