.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(40, 40, 40, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0;

  &__container {
    max-width: 900px;
    margin: auto;
    width: 100%;
  }

  &__inner {
    width: 100%;
    height: 100%;

    & iframe {
      width: 100%;
      height: 60vh;
      background-color: $black;
      border: 4px solid $orange;
    }
  }

  &--active {
    display: flex;
    animation: video-popup 0.4s forwards;
  }
}

@keyframes video-popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
    .video-popup {
        &__inner {
            & iframe {
              width: 100%;
              height: 30vh;
            }
          }
    }
}