.video {
  margin-top: 130px;

  &__wrapper {
    margin-top: 70px;
    position: relative;
  }

  & .swiper-wrapper {
    padding-bottom: 100px;
  }

  & .swiper-container {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__item {
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 32px;
    height: auto;

    &_desc {
      line-height: 1.25;
      font-size: $font-main;
      margin-top: 25px;
      text-align: center;
    }

    & img,
    & video,
    & iframe {
      width: 100%;
      margin-bottom: auto;
    }

    &_img {
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &:focus {
        &::before {
          transform: scale(1);
        }
      }

      &::before {
        position: absolute;
        content: "";
        background-image: url("../images/dist/yt-play.svg");
        background-repeat: no-repeat;
        width: 160px;
        height: 110px;
        background-size: contain;
        transform: scale(0);
        transition: transform 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .video {
    margin-top: 80px;

    &__wrapper {
      margin-top: 20px;
    }

    &__item {
      &_desc {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .video {
    &__wrapper {
      margin-top: 0;
    }

    &__item {
      &_desc {
        font-size: 18px;
      }

      &_img {
        &::before {
          width: 100px;
          height: 70px;
          transform: scale(1);
        }
      }
    }
  }
}
