.reqs-part {
  margin-top: 75px;

  & .title {
    margin-bottom: 25px;
  }

  &__text {
    color: #656565;
    display: block;
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  &__item {
    padding: 30px 50px;
    background-color: #f2f6f9;
    box-shadow: 0px 10px 16px rgba(4, 16, 36, 0.08);
    border-radius: 15px;
    line-height: 1.5;
    color: #656565;
    display: flex;
    align-items: center;

    & strong {
      color: $blue;
    }
  }
}

@media screen and (max-width: 1100px) {
  .reqs-part {
    &__items {
      grid-gap: 20px;
    }

    &__item {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .reqs-part {
    &__items {
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }

    &__item {
      padding: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 550px) {
  .reqs-part {
    margin-top: 60px;
  }
}