.credit-garage {
  margin-top: 90px;

  & .title {
    margin-bottom: 25px;
  }

  & .credit-part__img_text {
    margin-top: -20px;

    & strong {
      color: $blue;
    }
  }

  & .credit-part__img {
    & img {
      z-index: 1;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__items {
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 50px !important;
    counter-reset: credit-garage;

    & .credit-part__item {
      position: relative;
      counter-increment: credit-garage;

      &::before {
        position: absolute;
        content: "";
        background-color: #f2f6f9;
        box-shadow: 0px 6px 4px rgba(23, 33, 51, 0.2);
        border-radius: 100%;
        width: 45px;
        height: 45px;
        top: -10px;
        left: 24%;
      }

      &::after {
        position: absolute;
        content: counter(credit-garage);
        color: $blue;
        font-weight: 600;
        font-size: 26px;
        top: -7px;
        left: 30%;
      }
    }

    & .credit-part__item_title {
      max-width: 200px;
      font-weight: 600;
      line-height: 1.2;
    }
  }

  &__tip {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f6f9;
    border-radius: 15px;
    margin-top: 90px;

    &_text {
      color: #565656;
      padding: 45px 60px;
      margin-right: 70px;
      max-width: 800px;
    }

    &_img {
      margin-right: auto;
      margin-top: -35px;
    }
  }

  & .compare__info {
    align-items: flex-start;
    padding: 30px 55px;
    margin-top: 35px;

    & p {
      font-style: italic;
      font-size: 16px;
      color: #656565;
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: 1120px) {
  .credit-garage {
    &__tip {
      &_img {
        margin-top: auto;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .credit-garage {
    & .credit-part__img {
      display: none;
    }

    &__items {
      grid-template-columns: 1fr 1fr !important;
    }

    & .credit-part__item {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .credit-garage {
    &__tip {
      margin-top: 60px;

      &_text {
        padding: 30px 40px;
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .credit-garage {
    &__items {
      grid-gap: 20px !important;
    }

    &__tip {
      &_img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .credit-garage {
    margin-top: 60px;

    & .compare__info {
      padding: 20px;

      & img {
        width: 40px;
        height: 40px;
      }

      & p {
        font-size: 14px;
      }
    }
  }
}
