.info-garage {
  margin-top: 90px;

  & .title {
    margin-bottom: 15px;
  }

  &__text {
    color: #656565;
    line-height: 1.4;
  }

  & .params-room__table {
    margin-top: 60px;

    & .gray {
      background-color: hsla(0, 0%, 91%, 0.7);
    }
  }

  & .compare__info {
    align-items: flex-start;
    padding: 30px 55px;
    margin-top: 35px;

    & p {
      font-style: italic;
      font-size: 16px;
      color: #656565;
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: 550px) {
  .info-garage {
    margin-top: 60px;
    
    & .compare__info {
      padding: 20px;

      & img {
        width: 40px;
        height: 40px;
      }

      & p {
        font-size: 14px;
      }
    }
  }
}
